/bin/
.classpath
.project
build.fxbuild
/.settings/
/out/
/nbproject/
/.idea/
*.iml
/src/application/controller/.gitignore
/src/application/model/.gitignore
/src/application/ressources/.gitignore
/src/application/view/.gitignore